@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
  --color-primary: #222222;
  --color-gray: #767676;
}
@utility container {
  max-width: 1410px;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  background: #ddc2b9 !important;
  opacity: 1 !important;
  margin-right: 28px !important;
}
.swiper-pagination-bullet-active {
  background: #222222 !important;
  position: relative;
}
.swiper-pagination-bullet-active::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #222222;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-pagination {
  text-align: start !important;
  margin-left: 289px !important;
  bottom: 58px !important;
}
